<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions" >
    <div>
      <h3>My Courses</h3>
      <a href="/me/trash/courses">thùng rác ({{deletedCount}})</a>
    </div>
    
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
       All Select
      </label>
    </div>
    <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
      <option value="">--- Hành động ---</option>
      <option value="delete">Xóa</option>
    </select>
    <button class="btn btn-primary btn-sm check-all-submit-btn " disabled>thực hiện</button>
    </div>
    <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col" colspan="2">#</th>
      <th scope="col">Course name</th>
      <th scope="col" colspan="2">level</th>
      <th scope="col">Timing Delete</th>
    </tr>
  </thead>
  <tbody>

    {{#each courses}}
    {{!-- dữ liệu vòng lặp --}}
    
    <tr>
      <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" >
       
        </label>
      </div>
      </td>
      <th scope="row">{{sum @index 1}}</th>
      {{!-- index + 1 sum <- src/index.js --}}
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a href="/courses/{{this._id}}/edit" class="btn btn-link">edit</a>
        <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">delete</a>
      </td>
    </tr>
    {{!-- dữ liệu vòng lặp --}}
    {{else}}
    {{!-- khi không có dữ liệu --}}
    <tr>
      <td colspan="5" class="text-center">
         bạn chưa đăng khóa học nào.
         <a href="/courses/create">Đăng khóa học</a>
      </td>
    </tr>
    {{!-- khi không có dữ liệu --}}
    {{/each}}
  </tbody>
</table>
</form>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Course ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>you are sure delete course</p>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary">Close</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger"  data-dismiss="modal">delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}

<form  method="POST" name="delete-course-form"></form>

<script> 

  document.addEventListener('DOMContentLoaded', function(){
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    //var containerForm = document.forms['container-form'];
    var containerForm = $('form[name="container-form"]');
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckbox = $('input[name="courseIds[]"]');
    var checkAllSubmitBtn = $('.check-all-submit-btn');

    console.log(containerForm.length)

    //when dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)   
     courseId = button.data('id') 
    
    
})
    //when delete course btn clicked
    var btnDeleteCourse =document.getElementById('btn-delete-course');

    btnDeleteCourse.onclick = function(){
      deleteForm.action = '/courses/'+ courseId + '?_method=DELETE';
      deleteForm.submit();
    }

    // Checkboc all changed
    checkboxAll.change(function(){
      //console.log($(this).prop('checked'))
      var isCheckedAll = $(this).prop('checked')
      courseItemCheckbox.prop('checked',isCheckedAll);
      renderCheckAllSubmitBtn();
    });
    

    //Course item checkbox changed
    courseItemCheckbox.change(function(){
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop('checked',isCheckedAll)
      renderCheckAllSubmitBtn();
    });



    // Re-render check all submit button
    function renderCheckAllSubmitBtn(){
      var checkCount = $('input[name="courseIds[]"]:checked').length;
      if(checkCount > 0){
        checkAllSubmitBtn.attr('disabled',false)//disablue atribute false
      }else{
        checkAllSubmitBtn.attr('disabled',true)//disablue atribute true
      }
    }
  })
   
</script>